@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,600;0,700;1,600&family=Silkscreen:wght@400;700&display=swap');

body{
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;

}

.flex-container {
  display: flex;
  flex-wrap:nowrap;
  flex-direction: row;
  justify-content:space-between;
  padding: 3rem;
  gap: 20px;
} 

.flex-container img {
    width: 14rem;
    height: 14rem;
    border-radius: 0%;
    margin-left: 1rem;
    margin-right: 1rem;

}
.flex-container{
    overflow: auto;
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: transparent;
    height: 100%;

}

.flex-produkt div {
    display: block;
    margin: 0 0 0 1rem;
    max-width: 224px;
}

.flex-produkt {
    max-width: 224px;
}

.produkt__designer {
    font-weight: bold;
    overflow-wrap: break-word;
}

.scroll-instagram{
    overflow: auto;
    white-space: nowrap;
    padding: 5px 70px 5px 20px;
    background: transparent;
    height: 100%;
    border-radius: 15px;
}

footer {
    min-height: 10rem;
}

.footer-flex {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}

.social-logo {
    margin: 0 0 0 auto;
}

.social-logo img {
    margin: 0 0 0 1rem;
}


.syveren{
    display: flex;
    width: 100%;
    padding: 10px 30px;
}

.syveren img{
    height: auto;
    width: 65%;
}

.syveren-text{
    width: 400px;
    padding-right: 80px;
    text-align: right;
    line-height: 150%;
}
.main{
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.syveren-text h1{
    color:#7B806D ;
    font-size: 55px;
    margin-bottom: 0px;
    font-weight: bold;
}
.syveren-text h3{
    font-size: 22px;
}
.syveren-text p{
    font-size: 22px;
}

.syveren-text a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}